<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Inscription</title>
  <link rel="icon" type="image/png" href="/static/img/logo.png">

  <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="login">

<div class="logo-container">
    <img src="/static/img/logo.png" alt="Logo">
  </div>

<div class="container">

  <h2 class="login">Bienvenue!</h2>
  <form id="loginForm" action="/inscription" method="post">
    <div class="form-group">
      
      <input type="text" id="username" name="username" placeholder="E-mail" required>
    </div>
    <div class="form-group">
      
      <input type="password" id="password" name="password" placeholder="mot de passe" required>
    </div>
    <div class="form-group">
      <input type="submit" value="S'inscrire">
      <p class="login">Vous avez déjà un compte ?<a href="/connexion">Connectez-vous ici.</a></p>
    </div>
  </form>
  <hr class="login">
  <div id="g_id_onload"
     data-client_id="190726678896-th1h58l6snfh1qvbll4phpntg8a080lf.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8000/connexion"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_black"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left"
     data-width="300px">
</div>  
</div>


<script src="https://accounts.google.com/gsi/client" async></script>
</body>
</html>
